.btn_load-more {
    width: 130px;
    height: 40px;
    background-color: aquamarine;
    color: rgb(254, 254, 254);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.btn_load-more:hover {
 color: rgb(158, 216, 197) ;
background-color: rgb(232, 214, 214);;
}